.mdDashmain {
  width: 80%;
  background-color: #e8eaf2;
  margin: 100px 50px 50px 50px;
  height: auto;
}

.mdDashmainTopText {
  margin-top: -80px;
}
.mdDashmainTopText > h1 {
  margin-bottom: 10px;
  font-size: 40px;
  color: #005450;
}

.mdDashmainTopText > h2 {
  color: #333333;
  font-size: 25px;
  margin-bottom: 20px;
}

.mdTopCards {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.mdTopCard {
  background-color: #fff;
  width: 12em;
  height: 5em;
  border-radius: 5px;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  border: 2px solid rgb(100, 188, 174);
}

.mdTopCard > p {
  display: flex;
  flex-direction: column;
}

.mdBottomCard {
  box-sizing: border-box;
  background-color: #fff;
  width: 22em;
  height: 15em;
  border-radius: 5px;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 10px;
  overflow-y: scroll;
  padding-top: 20px;
  padding-left: 20px;
  border: 2px solid rgb(100, 188, 174);
}

.mdBottomCards {
  display: flex;
  justify-content: space-evenly;
}

.patientList {
  list-style: none;
  display: flex;
}
.patientName {
  width: 50%;
  font-size: 20px;
  text-align: left;
}

.patientIcons {
  width: 50%;
  display: flex;
  font-size: 25px;
  justify-content: space-evenly;
}

.appointmentList {
  display: flex;
  list-style: none;
  font-size: 18px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.appointmentTime,
.appointmentDate,
.appointmentWith {
  width: 33%;
}
