.signInMain {
  padding-top: 100px;
  max-width: 450px;
  text-align: center;
  margin: 0px auto;
  position: relative;
}

.signInForm {
  display: flex;
  flex-direction: column;
}

.signInInput {
  border: none;
  border-bottom: 2px solid grey;
  font-size: 1em;
  padding-bottom: 20px;
  outline: none;
  margin-bottom: 20px;
}

.signInInput:focus {
  border-color: rgb(100, 188, 174);
}

.signInInputA {
  margin-bottom: 30px;
}

.signInMain > h1 {
  padding-bottom: 50px;
}

.signInButton {
  margin-top: 50px;
  height: 40px;
  width: 120px;
  background-color: rgb(206, 206, 207);
  color: rgb(255, 255, 255);
  border-radius: 500px;
  border: none;
  text-transform: uppercase;
  outline: none;
  align-self: center;
  margin-bottom: 50px;
  cursor: pointer;
}

.signInButton:hover {
  color: rgb(100, 188, 174);
}

.signInFooter {
  position: static;
  bottom: 0px;
  height: 2em;
  width: 100%;
  color: rgb(166, 166, 166);
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.signInMain > a {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(100, 188, 174);
  cursor: pointer;
}
