.PlansPageMain {
  text-align: center;
  color: #333333;
}

.PlansPageMain > h1 {
  margin: 20px 0px 10px;
  font-size: 50px;
}

.PlansPageMain > p {
  margin: 10px 0px 40px;
  font-size: 17px;
}
.Plans {
  display: flex;
  justify-content: space-evenly;
}

.PlansPageTwo {
  box-sizing: border-box;
  display: flex;
  color: #333333;
  /* height: 60vh; */
  background-color: #f8f6f2;
  margin: 50px 0px 10px;
}

.PlansPageTwo > h1 {
  width: 50%;
  font-size: 80px;
  padding: 100px 20px;
  text-align: left;
}

.PlansPageTwo > ul {
  width: 50%;
  list-style: none;
  font-size: 20px;
  padding: 100px 40px;
}
.PlansPageTwo > ul > li {
  padding: 20px;
}

.PlansPageTwo hr {
  width: 100%;
}

.PlansPageThree {
  text-align: center;
}

.PlanPerks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: space-evenly;
}

.PlansPageThree > h1 {
  padding: 40px 0px;
  color: #333333;
}
