.PlanPerkCard {
  padding: 20px;
  margin: 0px 20px;
  border-radius: 5px;
  width: 22%;
}
.PlanPerkCardImg {
  padding: 10px 0px;
}

.PlanPerkCardTitle {
  padding: 10px 0;
  font-size: 20px;
  color: #333333;
}

.PlanPerkCardTitleDesc {
  padding: 10px 0;
  font-size: 16px;
  color: #333333;
}
