.SignUpMain {
  box-sizing: border-box;
  padding-top: 100px;
  max-width: 450px;
  text-align: center;
  margin: 0px auto;
}

.SignUpMain > h1 {
  padding-bottom: 50px;
}

.signUpFooter {
  position: static;
  bottom: 0px;
  left: 0px;
  height: 2em;
  width: 100%;
  color: rgb(166, 166, 166);
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

.signUpButton {
  margin-top: 50px;
  height: 40px;
  width: 120px;
  background-color: rgb(206, 206, 207);
  color: rgb(255, 255, 255);
  border-radius: 500px;
  border: none;
  text-transform: uppercase;
  outline: none;
  align-self: center;
  margin-bottom: 50px;
  cursor: pointer;
}

.signUpInput {
  border: none;
  border-bottom: 2px solid grey;
  font-size: 1em;
  /* padding-bottom: 10px; */
  outline: none;
  margin-bottom: 10px;
  padding-left: 15px;
}

.signUpInput:focus {
  border-color: rgb(100, 188, 174);
}

.signUpButton:hover {
  color: rgb(100, 188, 174);
  /* background-color: #fff; */
  /* font-size: 20px;
  transition: ease-in-out 0.3s; */
}

.shortFields {
  display: flex;
  padding: 0px 10px;
}
.shortField {
  width: 35%;
  margin: 10px;
}
